USE [master]
GO
/****** Object:  Database [Quiz]    Script Date: 10/06/2026 18:40:05 ******/
CREATE DATABASE [Quiz]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quiz', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Quiz.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Quiz_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Quiz_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quiz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quiz]
GO
/****** Object:  Table [dbo].[ANTWOORDEN]    Script Date: 10/06/2026 18:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANTWOORDEN](
	[IDAntwoord] [int] IDENTITY(1,1) NOT NULL,
	[VraagID] [int] NULL,
	[AntwoordZin] [text] NULL,
	[IsCorrect] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDAntwoord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEMAAKTETESTEN]    Script Date: 10/06/2026 18:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEMAAKTETESTEN](
	[IDGemaakteTest] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[DatumGemaakt] [datetime] NULL,
	[Score] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDGemaakteTest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ONDERWERPEN]    Script Date: 10/06/2026 18:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ONDERWERPEN](
	[IDOnderwerp] [int] IDENTITY(1,1) NOT NULL,
	[Onderwerpnaam] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDOnderwerp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TESTANTWOORDEN]    Script Date: 10/06/2026 18:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TESTANTWOORDEN](
	[IDTestAntwoord] [int] IDENTITY(1,1) NOT NULL,
	[AntwoordID] [int] NULL,
	[TestVraagID] [int] NULL,
	[Antwoordletteroptie] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTestAntwoord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TESTEN]    Script Date: 10/06/2026 18:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TESTEN](
	[IDTest] [int] IDENTITY(1,1) NOT NULL,
	[TestOmschrijving] [varchar](255) NULL,
	[DatumCreatie] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TESTVRAGEN]    Script Date: 10/06/2026 18:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TESTVRAGEN](
	[IDTestVraag] [int] IDENTITY(1,1) NOT NULL,
	[TestID] [int] NULL,
	[VraagID] [int] NULL,
	[Volgnummer] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTestVraag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 10/06/2026 18:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [varchar](100) NULL,
	[Voornaam] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERTESTANTWOORDEN]    Script Date: 10/06/2026 18:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERTESTANTWOORDEN](
	[IDGegevenAntwoord] [int] IDENTITY(1,1) NOT NULL,
	[GemaakteTestID] [int] NULL,
	[TestVraagID] [int] NULL,
	[GekozenLetter] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDGegevenAntwoord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VRAGEN]    Script Date: 10/06/2026 18:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VRAGEN](
	[IDVraag] [int] IDENTITY(1,1) NOT NULL,
	[Vraagzin] [text] NULL,
	[MoeilijkheidsCategorie] [varchar](50) NULL,
 CONSTRAINT [PK__VRAGEN__92507D4D0B06631F] PRIMARY KEY CLUSTERED 
(
	[IDVraag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VRAGEN_ONDERWERPEN]    Script Date: 10/06/2026 18:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VRAGEN_ONDERWERPEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VraagID] [int] NOT NULL,
	[OnderwerpID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ANTWOORDEN]  WITH CHECK ADD  CONSTRAINT [FK__ANTWOORDE__Vraag__619B8048] FOREIGN KEY([VraagID])
REFERENCES [dbo].[VRAGEN] ([IDVraag])
GO
ALTER TABLE [dbo].[ANTWOORDEN] CHECK CONSTRAINT [FK__ANTWOORDE__Vraag__619B8048]
GO
ALTER TABLE [dbo].[GEMAAKTETESTEN]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([IDUser])
GO
ALTER TABLE [dbo].[TESTANTWOORDEN]  WITH CHECK ADD FOREIGN KEY([AntwoordID])
REFERENCES [dbo].[ANTWOORDEN] ([IDAntwoord])
GO
ALTER TABLE [dbo].[TESTANTWOORDEN]  WITH CHECK ADD FOREIGN KEY([TestVraagID])
REFERENCES [dbo].[TESTVRAGEN] ([IDTestVraag])
GO
ALTER TABLE [dbo].[TESTVRAGEN]  WITH CHECK ADD FOREIGN KEY([TestID])
REFERENCES [dbo].[TESTEN] ([IDTest])
GO
ALTER TABLE [dbo].[TESTVRAGEN]  WITH CHECK ADD  CONSTRAINT [FK__TESTVRAGE__Vraag__6754599E] FOREIGN KEY([VraagID])
REFERENCES [dbo].[VRAGEN] ([IDVraag])
GO
ALTER TABLE [dbo].[TESTVRAGEN] CHECK CONSTRAINT [FK__TESTVRAGE__Vraag__6754599E]
GO
ALTER TABLE [dbo].[USERTESTANTWOORDEN]  WITH CHECK ADD FOREIGN KEY([GemaakteTestID])
REFERENCES [dbo].[GEMAAKTETESTEN] ([IDGemaakteTest])
GO
ALTER TABLE [dbo].[USERTESTANTWOORDEN]  WITH CHECK ADD FOREIGN KEY([TestVraagID])
REFERENCES [dbo].[TESTVRAGEN] ([IDTestVraag])
GO
ALTER TABLE [dbo].[VRAGEN_ONDERWERPEN]  WITH CHECK ADD  CONSTRAINT [FK_Tussentabel_Onderwerp] FOREIGN KEY([OnderwerpID])
REFERENCES [dbo].[ONDERWERPEN] ([IDOnderwerp])
GO
ALTER TABLE [dbo].[VRAGEN_ONDERWERPEN] CHECK CONSTRAINT [FK_Tussentabel_Onderwerp]
GO
ALTER TABLE [dbo].[VRAGEN_ONDERWERPEN]  WITH CHECK ADD  CONSTRAINT [FK_Tussentabel_Vraag] FOREIGN KEY([VraagID])
REFERENCES [dbo].[VRAGEN] ([IDVraag])
GO
ALTER TABLE [dbo].[VRAGEN_ONDERWERPEN] CHECK CONSTRAINT [FK_Tussentabel_Vraag]
GO
USE [master]
GO
